.container > div.header {
  grid-area: header;
  background-color: lightgreen;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

.container > div.menu {
  grid-area: menu;
  background-color: #f0f0f0;
  padding: 10px;
}

.container > div.content {
  grid-area: content;
  background-color: #ffffff;
  padding: 10px;
}

.container > div.footer {
  grid-area: footer;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}
